/*home.css*/


body { 
  background: url("images/portfolio_back.svg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*body {
  background: url("images/portfolio_back.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  border: 3px dashed red;
}*/

/*
body {
  position: relative;
  top: -20px;
}*/

.navbar-default {
  background: rgba(127,169,103,0.5);
  border: none;
}

.navbar-default:hover {
  background: rgba(127,169,103,0.7);
}



.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

#bs-example-navbar-collapse-1 > ul > li > a {
  color: white;
}

.color-sky {
  color: rgb(103,169,227);
}

.navbar-nav >li:hover {
  background-color: rgba(103,169,227,0.6);
}

.navbar-nav>.open>a {
  background-color: rgba(103,169,227,0.8) !important;
}

.dropdown-menu {
  background-color: rgba(127,169,103,0.5);
}


.dropdown-menu>li>a {
  color: white;
}


.dropdown-menu>li>a:hover {
  background-color: rgba(103,169,227,0.8);
  color: white;

}


